page-myorders {
  div.mydiv2 {
    text-align: right;
    //display: inline-block;
    float: right;
    vertical-align: middle !important;
    margin: 22px;
  }

.mydiv1 {
  vertical-align: middle;
  display: inline-block;
}

img.slide-image11
    {
      max-height: 110px;
      max-width: 110px;
      margin: 2px 0;
    }
ion-icon.myicon22.icon {
  float: right;
  font-size: 20px;
  vertical-align: middle;
  margin: 2px 6px;
  color: #000000;
}
ion-row.mynewr11.row {
  padding: 11px;
}
ion-content.newbg11 {
  background-position: center;
  background-size: cover;
  //background-image: url(http://localhost:8100/assets/imgs/black-bg22.jpg);
  background-color: aliceblue;
}

.mybtn22
  {
    font-size: 13px;
    background: #EB6D2F;
    border-color: #EB6D2F;
    margin-top: 26px;
    text-transform: uppercase;
  }

  .card-title-md {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
  }

  .card-md {
    margin: 0px;
    border-radius: 2px;
    width: 100%;
  }
  .card-md h4{
    margin: 6px 0;
    font-size: 16px;
    font-weight: bold;
  }
  .button-md-danger {
    font-size: 13px;
    padding: 11px;
  }
  button.cancel2 {
    background-color: #605ca8 !important;
  }
  ion-card.card {
    margin: 22px 0px;
  }
  ion-card-content {
    padding: 6px 16px 22px !important;
  }
}
