<ion-content padding class="newbg11">
  <ion-grid *ngIf="userhas" align-items-center justify-content-center style="height: 100%;">
    <ion-row align-items-center justify-content-center style="height: 100%;">
      <ion-col align-self-center col-12 style="text-align: center;">
        <h1 class="newh1">Your order list is empty!!</h1>
        <img src="assets/imgs/shoppingcart.png" class="slide-image11"/>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="usernot" align-items-center justify-content-center style="height: 100%;">
      <ion-row align-items-center justify-content-center style="height: 100%;">
        <ion-col align-self-center col-12 style="text-align: center;">
          <h1 class="newh1">Please Login To Check Your Orders</h1>
          <!-- <button class="mybtn22" ion-button>Login</button> -->
        </ion-col>
      </ion-row>
    </ion-grid>
  <!-- <p>{{this.newuserid}}</p> -->
</ion-content>
