<ion-content padding class="newbg11">
  <ion-grid align-items-center justify-content-center style="height: 100%;">
    <ion-row align-items-center justify-content-center style="height: 100%;">
      <ion-col align-self-center justify-content-center col-12 col-md-6 col-xl-3 style="text-align: center;">
        <h1 class="newh1">Register Here</h1>
      <form [formGroup]="todo" (ngSubmit)="getregisterUsers()">
        <ion-list>
          <ion-item class="newitem2">
            <ion-input placeholder="Your Full Name" type="text" [(ngModel)]="useregData.uname" formControlName="uname" required></ion-input>
          </ion-item>
		  <ion-item class="newitem2">
            <ion-input placeholder="Email" type="email" [(ngModel)]="useregData.uemail" formControlName="uemail" required></ion-input>

          <ng-container *ngFor="let validation of validation_messages.uemail">
            <div class="error-message" *ngIf="todo.get('uemail').hasError(validation.type) && (todo.get('uemail').dirty || todo.get('uemail').touched)">
              {{ validation?.message }}
            </div>
          </ng-container>
          <p *ngIf="todo.controls['uemail'].errors && todo.controls['uemail'].dirty" class="danger" padding>Email is not valid.</p>
          <!-- <p *ngIf="todo.controls['email'].errors && todo.controls['email'].dirty" class="danger" padding>Email is not valid.</p> -->
          </ion-item>
		  <ion-item class="newitem2">
            <ion-input placeholder="Phone Number" type="number" [(ngModel)]="useregData.unumber" formControlName="unumber" required></ion-input>
          </ion-item>
          <ion-item class="newitem2">
            <ion-input placeholder="Password" type="password" [(ngModel)]="useregData.password" formControlName="password" required></ion-input>
          </ion-item>
          <div>
            <button [disabled]="!todo.valid" ion-button type="submit" class="newbtn11" color="primary" block>Register</button>
          </div>
        </ion-list>
      </form>
      <h2><span>OR</span></h2>
      <p><span menuClose swipeBackEnabled="false" (click)="loginback2()" class="newspan2">Back To Login</span></p>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
