<ion-content padding class="newbg11">
  <ion-grid *ngIf="userhas" align-items-center justify-content-center style="height: 100%;">
    <ion-row align-items-center justify-content-center style="height: 100%;">
      <ion-col align-self-center justify-content-center col-12 col-md-6 col-xl-3 style="text-align: center;">

        <ion-card (click)="updatepassword2()">
          <ion-card-content>
            <ion-card-title>
              Change Password
            </ion-card-title>
          </ion-card-content>
        </ion-card>

        <ion-card (click)="updatepimage2()">
          <ion-card-content>
            <ion-card-title>
              Update Profile Image
            </ion-card-title>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="usernot" align-items-center justify-content-center style="height: 100%;">
    <ion-row align-items-center justify-content-center style="height: 100%;">
      <ion-col align-self-center col-12 style="text-align: center;">
        <h1 class="newh1">Please Login To Manage Your Account</h1>
        <!-- <button class="mybtn22" ion-button>Login</button> -->
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
