<ion-content>
  <ion-list *ngFor="let itm of wishItems" class="myitem11">
    <ion-item>
      <ion-thumbnail item-start>
        <img src="{{itm.image}}">
      </ion-thumbnail>
      
      <h2>{{itm.product_name}}</h2>
      <p>
        Actual Price:
        <span [ngStyle]="itm?.discount === '0' ? {'text-decoration':'none'} : {'text-decoration':'line-through'}">₹{{itm.product_price}}</span>
      </p>
      <p>Discount: {{itm?.discount}}%</p>
      <p>
        Discounted Price: ₹{{itm.product_actual_price}}
      </p>
      <button *ngIf="itm.out_of_stock == 0"  class="btnmy22" ion-button clear (click)="WishItemToCart(itm)">
        Move To Cart
      </button>
      <button *ngIf="itm.out_of_stock == 1" class="btnmy22" ion-button clear disabled>
        Out Of Stock
      </button>
      <button ion-button icon-only clear item-end (click)="removeWishItem(itm)">
        <ion-icon class="mycaicon11" name="ios-trash-outline"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

<ion-grid *ngIf="nowishproducts" align-items-center justify-content-center style="height: 100%;">
    <ion-row align-items-center justify-content-center style="height: 100%;">
      <ion-col align-self-center col-12 style="text-align: center;">
        <img src="assets/imgs/noproductimage.png" class="myimgnew11"/>
        <h1 class="newh1">No Products Found In The Wishlist!!</h1>
      </ion-col>
    </ion-row>
</ion-grid>

<ion-grid *ngIf="forloginuser2" align-items-center justify-content-center style="height: 100%;">
  <ion-row align-items-center justify-content-center style="height: 100%;">
    <ion-col align-self-center col-12 style="text-align: center;">
      <h1 class="newh1">Please Login For the Wishlist Products</h1>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
