<ion-content>
  <!-- <ion-list>
    <ion-item *ngFor="let itm of  cartItems">
      <ion-avatar item-start>
        <img src="{{itm.thumb}}">
      </ion-avatar>
      <h2>{{itm.name}}</h2>

    </ion-item>
  </ion-list> -->
  <!-- <ion-list *ngFor="let itm of cartItems" class="myitem11">
    <ion-item>
      <ion-thumbnail item-start (click)="showDetails(itm)">
        <img src="{{itm.image || 'http://beegoodhoney.in/uploads/products/'+itm.pimage['0']?.pro_images}}" />
      </ion-thumbnail>
      <h2 (click)="showDetails(itm)">{{itm.name}}</h2>
      <h2 (click)="showDetails(itm)">{{itm.ditailspro}}</h2>
      <p>
        Actual Price:
        <span [ngStyle]="itm?.discountp === '0' ? {'text-decoration':'none'} : {'text-decoration':'line-through'}">₹{{itm.disprice
          * itm.count}}</span>
      </p>
      <p>Discount: {{itm?.discountp}}%</p>
      <p *ngIf="itm?.psize!== undefined">Size: {{itm?.psize}}</p>
      <ion-row class="item-count">
        <ion-col class="qty">
          <button (click)="decreaseProductCount(itm)" clear ion-button small color="dark" class="mewbtn11">
            -
          </button>
          <button ion-button small clear color="dark" class="mewbtn11">
            {{itm?.count}}
          </button>
          <button (click)="incrementProductCount(itm)" clear ion-button small color="dark" class="mewbtn11">
            +
          </button>
          {{itm.productPrice}}
        </ion-col>
      </ion-row>
      <p>
        Discounted Price: ₹{{itm.productPrice * itm.count}}
      </p>
      <button ion-button icon-only clear item-end (click)="removeItem(itm)">
        <ion-icon class="mycaicon11" name="ios-trash-outline"></ion-icon>
      </button>
    </ion-item>
  </ion-list> -->

  <ion-list *ngFor="let itm of this.uproducts" class="myitem11">
    <ion-item>
      <ion-thumbnail item-start>
        <img src="{{itm.image_fullPath || 'http://beegoodhoney.in/uploads/products/'+itm.pimage['0']?.pro_images}}" />
      </ion-thumbnail>
      <h2>{{itm.product_name}}</h2>
      <!-- <h2 (click)="showDetails(itm)">{{itm.ditailspro}}</h2> -->
      <p>
        Actual Price:
        <span [ngStyle]="itm?.discount === '0' ? {'text-decoration':'none'} : {'text-decoration':'line-through'}">₹{{itm.product_price * itm?.quantity}}</span>
      </p>
      <p>Discount: {{itm?.discount}}%</p>
      <p *ngIf="itm?.product_size!== null">Size: {{itm?.product_size}}</p>
      <ion-row class="item-count">
        <ion-col class="qty">
          <button (click)="decreaseProductCount(itm)" clear ion-button small color="dark" class="mewbtn11">
            -
          </button>
          <button ion-button small clear color="dark" class="mewbtn11">
            {{itm?.quantity}}
          </button>
          <button (click)="incrementProductCount(itm)" clear ion-button small color="dark" class="mewbtn11">
            +
          </button>
          <!-- {{itm.productPrice}} -->
        </ion-col>
      </ion-row>
      <p>
        Discounted Price: ₹{{itm.product_actual_price * itm?.quantity}}
      </p>
      <button ion-button icon-only clear item-end (click)="removeItem(itm.id)">
        <ion-icon class="mycaicon11" name="ios-trash-outline"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  
  <ion-grid *ngIf="nocartproducts" align-items-center justify-content-center style="height: 100%;">
    <ion-row align-items-center justify-content-center style="height: 100%;">
      <ion-col align-self-center col-12 style="text-align: center;">
        <img src="assets/imgs/noproductimage.png" class="myimgnew11"/>
        <h1 class="newh1">No Products Found In The Cart!!</h1>
      </ion-col>
    </ion-row>
</ion-grid>

</ion-content>

<ion-footer class="single-footer" *ngIf="!isEmptyCart" style="bottom: 51px; background-color: #fff;">

  <ion-grid>
    <ion-row>
      <ion-col class="addCart" (click)="checkpage()">
        <button class="myaddto22" color="secondary" full ion-button round="true">
          {{totalAmountnew}} Checkout
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-footer>

<!-- {{cartItems.length}} -->
