<!--
  Generated template for the FrontPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle start>
      <ion-icon name="menu"></ion-icon>
    </button>
    <div class="mydiv1"><img src="assets/imgs/logo3.png" class="slide-image11"/></div>
    <div class="mydiv2">
    <ion-icon name="cart" class="myicon22"></ion-icon>
    <ion-icon name="heart" class="myicon22"></ion-icon>
    <ion-icon name="search" class="myicon22" (click)="hasSearchnot()"></ion-icon>
    </div>
  </ion-navbar>
  <ion-searchbar *ngIf="HasSearch"></ion-searchbar>
</ion-header>

<ion-content no-padding>
    <ion-grid class="myslider22">
        <ion-row align-items-center>
        <ion-col class="mycol11">
            <ion-slides loop="true" pager>
                <ion-slide class="myslider1">
                  <div class="part1">
                  <h1 class="slide-title1">FRESH PRODUCE RIGHT TO YOU</h1>
                  <p class="mysliderp1">100% PURE HONEY</p>
                  </div>
                </ion-slide>

                <ion-slide class="myslider2">
                    <div class="part1">
                    <h1 class="slide-title1">FRESH PRODUCE RIGHT TO YOU</h1>
                    <p class="mysliderp1">100% PURE HONEY</p>
                    </div>
                </ion-slide>

                <ion-slide class="myslider3">
                  <div class="part1">
                  <h1 class="slide-title1">FRESH PRODUCE RIGHT TO YOU</h1>
                  <p class="mysliderp1">100% PURE HONEY</p>
                  </div>
                </ion-slide>

              </ion-slides>
        </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid class="myproducts">
    <h1 class="myph11">Product Categories</h1>
    <hr />
    <ion-row align-items-center justify-content-center class="mynewr11" style="padding: 2px 33px;">
        <ion-col (click)="getproducts(pcat.id)" *ngFor="let pcat of this.pcatg" col-5 class="mynewcol22">
          <img class="imgsection12" src="{{pcat.category_img}}" />
          <h4 class="mynewph22">{{pcat.category_name}}</h4>
        </ion-col>
    </ion-row>
    <!-- <ion-row align-items-center style="padding: 2px 40px;">
      <ion-col>
        <img class="imgsection12" src="assets/imgs/dark-honey2.jpg" />
        <h4 class="mynewph22">Dark Honey</h4>
      </ion-col>
      <ion-col>
        <img class="imgsection12" src="assets/imgs/eucalyptus-honey2.jpg" />
        <h4 class="mynewph22">Eucalyptus Honey</h4>
      </ion-col>
    </ion-row>
    <ion-row align-items-center style="padding: 2px 40px;">
        <ion-col>
          <img class="imgsection12" src="assets/imgs/light-honey3-2.jpg" />
         <h4 class="mynewph22">Light Forest Honey</h4>
        </ion-col>
        <ion-col>
            <img class="imgsection12" src="assets/imgs/organic-honey2-2.jpg" />
            <h4 class="mynewph22">Organic Honey</h4>
        </ion-col>
    </ion-row>  -->
</ion-grid>
  <ion-grid class="mysection3">
      <h4 class="mynewh22">Merchandise</h4>
      <hr class="myhr22">
      <div class="new22">
       <div class="inner22" (click)="getmerchproducts(pmat.id)" *ngFor="let pmat of this.mcat">
          <img class="imgsection1" src="{{pmat.category_img}}" />
          <h4 class="mynewh12">{{pmat.category_name}}</h4>
       </div>
       <!-- <div class="inner22">
          <img class="imgsection1" src="assets/imgs/bee.png" />
         <h4 class="mynewh12">Caps</h4>
       </div>
       <div class="inner22">
          <img class="imgsection1" src="assets/imgs/honey.png" />
          <h4 class="mynewh12">Bags</h4>
       </div>
       <div class="inner22">
          <img class="imgsection1" src="assets/imgs/beehive.png" />
          <h4 class="mynewh12">Water Bottle</h4>
       </div> -->
      </div>
    <!-- <ion-slides pager>
      <ion-slide>
       <img class="imgsection1" src="assets/imgs/hex1.png" />
       <h4 class="mynewh22">Tess</h4>
       <p>Great Savings. Every Day. Shop from our Deal of the Day, Lightning Deals and avail other great offers.</p>
      </ion-slide>

      <ion-slide>
         <img class="imgsection1" src="assets/imgs/hex2.png" />
         <h4 class="mynewh22">Caps</h4>
         <p>Great Savings. Every Day. Shop from our Deal of the Day, Lightning Deals and avail other great offers.</p>
      </ion-slide>

      <ion-slide>
        <img class="imgsection1" src="assets/imgs/hex3.png" />
        <h4 class="mynewh22">Bags</h4>
        <p>Great Savings. Every Day. Shop from our Deal of the Day, Lightning Deals and avail other great offers.</p>
      </ion-slide>

      <ion-slide>
        <img class="imgsection1" src="assets/imgs/hex4.png" />
        <h4 class="mynewh22">Water Bottle</h4>
        <p>Great Savings. Every Day. Shop from our Deal of the Day, Lightning Deals and avail other great offers.</p>
      </ion-slide>
</ion-slides> -->
<ion-row align-items-center>
    <ion-col>
<button class="mybtn22" ion-button round>View All</button>
</ion-col>
</ion-row>
  </ion-grid>

  <ion-grid style="text-align: center; padding: 0px;">
      <h4 class="mynewh22">Total Honey Sold</h4>
      <hr />
    <ion-row align-items-center class="mysection2">
      <ion-col *ngFor="let ptot of this.pcount">
        <ion-icon name="flower" class="myion2"></ion-icon>
        <p>{{this.ptot.sold}} (ML)</p>
        <h4 class="myh4">{{this.ptot.category}}</h4>
      </ion-col>
      <!-- <ion-col>
        <ion-icon name="color-fill" class="myion2"></ion-icon>
        <h4 class="myh4">563 (L)</h4>
        <p>Dark</p>
      </ion-col>
      <ion-col>
        <ion-icon name="happy" class="myion2"></ion-icon>
        <h4 class="myh4">1145 (L)</h4>
        <p>Light</p>
      </ion-col>
      <ion-col>
        <ion-icon name="star" class="myion2"></ion-icon>
        <h4 class="myh4">1045 (L)</h4>
        <p>Eucalyptus</p>
      </ion-col> -->
    </ion-row>
</ion-grid>
<!-- <ion-grid>
  <ion-row class="mycol22" align-items-center>
    <ion-col>
        <h4 class="mynewh22">Testimonials</h4>
        <hr class="myhr22">
    </ion-col>
  </ion-row>
  <ion-row class="mytestcol22" align-items-center>
    <ion-col>
      <ion-slides pager>
        <ion-slide>
         <p class="mytest22">
            Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        </p>
        </ion-slide>

        <ion-slide>
          <p class="mytest22">
            Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        </p>
        </ion-slide>

        <ion-slide>
          <p class="mytest22">
            Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        </p>
        </ion-slide>

        <ion-slide>
          <p class="mytest22">
            Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
        </p>
        </ion-slide>
  </ion-slides>
    </ion-col>
  </ion-row>
</ion-grid> -->

<ion-row align-items-center class="mysocialicons22">
    <ion-col class="mycol33">
      <!-- <h4 class="mynewh33">Social Links</h4> -->
      <ion-icon name="home" class="myicons22"></ion-icon>
    </ion-col>
    <ion-col class="mycol33">
      <ion-icon name="people" class="myicons22"></ion-icon>
    </ion-col>
    <ion-col class="mycol33">
      <ion-icon name="create" class="myicons22"></ion-icon>
    </ion-col>
    <ion-col class="mycol33">
        <ion-icon name="contacts" class="myicons22"></ion-icon>
    </ion-col>
</ion-row>

  <!-- <ion-grid class="mysection11">
      <ion-row align-items-center>
        <ion-col>
          <img src="assets/imgs/abt_honey.jpg" />
        </ion-col>
      </ion-row>
      <ion-row align-items-left>
          <ion-col>
            <h4 class="mynewh11">Useful properties of Honey</h4>
            <ion-list>
                <ion-item no-lines class="myitem22">
                    <ion-avatar class="myava11" item-start>
                      <img class="myimg22" src="assets/imgs/checked.png">
                    </ion-avatar>
                    Regulates metabolic processes
                  </ion-item>
                  <ion-item no-lines>
                      <ion-avatar class="myava11" item-start>
                        <img class="myimg22" src="assets/imgs/checked.png">
                      </ion-avatar>
                      Increases immunity
                  </ion-item>
                  <ion-item no-lines>
                      <ion-avatar class="myava11" item-start>
                        <img class="myimg22" src="assets/imgs/checked.png">
                      </ion-avatar>
                      Improves blood composition
                  </ion-item>
                  <ion-item no-lines>
                      <ion-avatar class="myava11" item-start>
                        <img class="myimg22" src="assets/imgs/checked.png">
                      </ion-avatar>
                      Helps to cope with insomnia
                  </ion-item>
                  <ion-item no-lines class="myitem22">
                      <ion-avatar class="myava11" item-start>
                        <img class="myimg22" src="assets/imgs/checked.png">
                      </ion-avatar>
                      Gives energy to the body, restores strength
                  </ion-item>
            </ion-list>
          </ion-col>
      </ion-row>
  </ion-grid> -->

  <!-- <ion-grid class="mysection4">
      <ion-row>
        <ion-col>
            <img class="myimgbee22" src="assets/imgs/bee1.png" />
        </ion-col>
      </ion-row>
      <ion-row class="mycol22" align-items-center>
        <ion-col>
           <p class="myp2">Products</p>
           <p class="myp1">Online Store</p>
           <button class="mybtn22" ion-button round>View All Services</button>
        </ion-col>
      </ion-row>
      <ion-row class="mybee2">
          <ion-col>
              <img class="myimgbee22" src="assets/imgs/bee2.png" />
          </ion-col>
      </ion-row>
  </ion-grid> -->

  <!-- <ion-grid class="mysectiontest">
      <ion-row class="mycol22" align-items-center>
        <ion-col>
            <h4 class="mynewh22">Testimonials</h4>
        </ion-col>
      </ion-row>
      <ion-row class="mycol22" align-items-center>
        <ion-col>
          <p class="mytest22">
              Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod. sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
          </p>
          <button class="mybtn22" ion-button round>View All</button>
        </ion-col>
      </ion-row>
  </ion-grid>
  <ion-grid class="mysection6">
    <ion-row align-items-center>
      <ion-col class="mycol33">
          <h4 class="mynewh33">Contact Us</h4>
          <p>Phone</p>
          <p>+121 098 8907 9987</p>

          <p class="mtmargin11">Email</p>
          <p><a href="mailto:info@example.com" style="color: #ababab;">info@example.com</a></p>

          <p class="mtmargin11">Phone</p>
          <p>+121 098 8907 9987</p>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
        <ion-col class="mycol33">
            <h4 class="mynewh33">Social Links</h4>
            <ion-icon name="logo-facebook" class="myicons22"></ion-icon>
            <p>Connect us with on Facebook</p>

            <ion-icon name="logo-instagram" class="myicons22"></ion-icon>
            <p>Connect us with on Instagram</p>

            <ion-icon name="logo-twitter" class="myicons22"></ion-icon>
            <p>Connect us with on Twitter</p>
        </ion-col>
      </ion-row>

      <ion-row align-items-center>
          <ion-col class="mycol33">
              <h4 class="mynewh33">QUICK LINKS</h4>
              <p><ion-icon name="done-all"></ion-icon> <a href="http://honeybee.web-brats.com/" style="color: #ababab;">Home</a></p>
              <p><ion-icon name="done-all"></ion-icon> <a href="http://honeybee.web-brats.com/Home/about" style="color: #ababab;">About Us</a></p>
              <p><ion-icon name="done-all"></ion-icon> <a href="http://honeybee.web-brats.com/Home/View_honey_categories" style="color: #ababab;">Honey Products</a></p>
              <p><ion-icon name="done-all"></ion-icon> <a href="http://honeybee.web-brats.com/Home/View_merchandise_categories" style="color: #ababab;">Merchandise</a></p>
              <p><ion-icon name="done-all"></ion-icon> <a href="http://honeybee.web-brats.com/Home/contactus" style="color: #ababab;">Contact Us</a></p>
          </ion-col>
        </ion-row>

        <ion-row align-items-center>
            <ion-col class="mycol33">
                <h4 class="mynewh33">Who We Are</h4>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
                  aperiam, eaque ipsa quae.</p>
                <p><a href="http://honeybee.web-brats.com/Home/about" style="color: #EB6D2F;">Read More</a></p>
            </ion-col>
        </ion-row>

        <ion-row align-items-center>
          <ion-col class="mycom22">
              <p>© 2018 All Rights Reserved | Designed &amp; Developed by <a href="http://clickgoweb.com" style="color: #EB6D2F;">ClickGoWeb</a></p>
          </ion-col>
      </ion-row>
  </ion-grid>
  <foot-card></foot-card> -->
</ion-content>
