page-front {

    .myphoto{
    text-align: center;
    background-color: #ffd832;
    }


  .myproducts{
    text-align: center;
    padding: 20px 2px 2px;
    background-color: #ffffff;
  }
  .myproducts ion-col.col {
    background-color: whitesmoke;
    /* border: 1px solid #6b6b6b; */
    border-radius: 6px;
    margin: 6px;
    box-shadow: 0px 1px 4px 1px #6d6d6d;
  }

  ion-slide.myslider1 {
    background-image: url(http://localhost:8100/assets/imgs/6slide1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4px;
    background-position: center center;
  }
  ion-slide.myslider2 {
    background-image: url(http://localhost:8100/assets/imgs/6slide21.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4px;
    background-position: center center;
  }
  ion-slide.myslider3 {
    background-image: url(http://localhost:8100/assets/imgs/6slide31.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4px;
    background-position: center center;
  }

  ion-row.mytestcol22.row {
    box-shadow: 0px 1px 4px 1px #6d6d6d;
    background-color: #efefef;
  }

  h1.myph11
  {
    font-size: 20px;
    margin-bottom: 2px;
    margin-top: 2px;
    font-family: 'Aleo', serif;
    font-weight: 700;
  }

  img.imgsection12 {
    width: 80px;
    margin-top: 8px;
    border-radius: 200px;
    height: 80px;
  }

  h4.mynewph22 {
    font-size: 14px;
    color: #000;
  }
   hr {
    background-color: rgba(0, 0, 0, 0.51) !important;
    width: 130px;
    color: #000;
    height: 1px !important;
}

    // .mycol11 ion-slides
    // {
    //   margin-top: 22px;
    // }

    .myphoto {
        img{
          text-align: center;
        }
        h3{
          text-align: center;
        }
    }

    .slide-zoom {
      padding-bottom: 22px;
    }

    div.part1
    {
      text-align: center;
    }

    ion-grid.myslider22 {
      padding: 0px;
    }

    ion-col.mycol11 {
      padding: 0px;
    }

    h1.slide-title1
    {
    margin-bottom: 0px;
    background-color: #000000;
    padding: 11px 11px;
    color: #e4e4e4;
    margin-top: 31px;
    display: inline-block;
    font-weight: bold;
    font-size: 19px;
    }

    p.mysliderp1
    {
      margin-top: 4px;
      margin-bottom: 11px;
      /* background-color: #000; */
      color: #000000;
      font-size: 16px;
      font-weight: 600;
      padding: 4px 8px;
      display: block;
      letter-spacing: 1px;
      line-height: 2;
      font-family: 'Acme', sans-serif;
    }

    img.slide-image1
    {
      max-height: 31%;
      max-width: 31%;
      margin: 2px 0;
    }

    img.slide-image11
    {
      max-height: 110px;
      max-width: 110px;
      margin: 2px 0;
    }
    ion-icon.myicon22.icon {
      float: right;
      font-size: 20px;
      vertical-align: middle;
      margin: 2px 6px;
      color: #000000;
    }

    img.slide-image
    {
      max-height: 50%;
      max-width: 60%;
      margin: 20px 0;
    }

    h2.slide-title
    {
      background-color: black;
      padding: 15px 6px;
      color: #f5e801;
      font-weight: bold;
    }

    .myphoto .imgsection1 img {
      text-align: center;
      width: 200px;
      height: 200px;
    }
    .mycol11
    {
      text-align: center;
      align-items: center;
    }

    .imgsection1{
      border-radius: 80px;
      width: 80px;
      height: 80px;
    }

    ion-col.mycol33.col {
      text-align: center;
    }
    .mysection2
    {
    text-align: center;
    background-color: #000000;
    margin-top: 11px;
    padding: 20px 15px;
    }

    .mysocialicons22
    {
      // border-top: 1px solid #000;
      background-color: #ffffff;
      padding: 2px;
    }

    .myion2
    {
      font-size: 22px;
      color: #ffffff;
      margin-bottom: 15px;
    }

    .mysection2 p
    {
      color: #ffffff;
      font-size: 13px;
      letter-spacing: 0px;
      margin: 0px;
      font-weight: 600;
    }

    div.mydiv2 {
      text-align: right;
      //display: inline-block;
      float: right;
      vertical-align: middle !important;
      margin: 22px;
  }

  .mydiv1 {
    vertical-align: middle;
    display: inline-block;
  }

    h4.myh4
    {
      font-size: 13px;
      color: #ffffff;
      margin-bottom: 0px;
      font-weight: 700;
      margin-top: 6px;
      height: 22px;
    }

    h4.mynewh4
    {
      font-size: 40px;
      color: #000;
      font-weight: 700;
    }

    .mysection3{
      text-align: center;
      background-color: #ffffff;
      //margin-bottom: 22px;
    }

    h4.mynewh22
    {
      font-size: 20px;
      margin-bottom: 0px;
      color: #000000;
      font-family: 'Aleo', serif;
      font-weight: 700;
    }

    .mysection3
    {
      p
      {
        font-family: 'Acme', sans-serif;
        color: #000000;
        font-size: 13px;
        /* letter-spacing: 1px; */
        line-height: 2;
        font-weight: 600;
      }
    }

    h4.mynewh11
    {
      color:#EB6D2F;
      font-size: 26px;
      font-weight: bolder;
    }
    h1.myphnew11
    {
      font-size: 20px;
      margin-bottom: 11px;
      margin-top: 11px;
    }

    .myava11
    {
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      margin: 11px !important;
    }
    .myimg22
    {
      width: 20px !important;
      height: 20px !important;
    }
    .mysection4
    {
      padding: 26px 4px;
      background-color: #faf5e2;
    }

  ion-row.mycol22{
      text-align: center;
  }

  ion-row.mybee2
  {
    text-align: right;
  }

  .myp1{
    font-size: 26px;
    margin-top: 4px;
    font-weight: bold;
  }

  .myp2
  {
    margin-bottom: 6px;
    font-size: 20px;
  }

  .mybtn22
  {
    border-radius: 0px;
    font-size: 13px;
    background: #EB6D2F;
    border-color: #EB6D2F;
    margin-top: 26px;
    text-transform: uppercase;
  }

  .myimgbee22
  {
  animation: mover 1s infinite alternate;
  }

@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-30px); }
}

.mysectiontest
{
  background-color: #ffd832;
}

p.mytest22
{
  font-size: 13px;
  font-weight: 500;
}

.myitem22 ion-label
{
  white-space: normal;
}

// .mysection11
// {
//   background-color: #f5f5f5;
// }

.mysection6
{
  background-color: #212020;
  padding: 15px 2px;
}

.mycol33 p
{
  color: #ababab;
}

.mynewh33
{
  font-size: 26px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
}

.mtmargin11
{
  margin-top: 31px;
}

ion-icon.myicons22 {
  color: #000000;
  font-size: 26px;
}
.new22 {
  padding: 2px 20px;
  overflow-x: scroll;
  white-space: nowrap;
}
.inner22 {
  border-radius: 11px;
  padding: 15px;
  background-color: #f2f2f2;
  margin: 7px 6px;
    /* border: 1px solid; */
  display: inline-block;
  box-shadow: 0px 1px 4px 1px #6d6d6d;
}

.mynewh12
{
  font-size: 14px;
  // margin-top: 2px;
  margin-bottom: 0px;
  color: #000000;
  font-weight: 700;
}
.myhr22
{
  width: 74px;
  height: 1px;
}
.mycom22
{
    text-align: center;
}

.mycom22 p
{
  color: #ababab;

}

.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: #000;
  background-color: transparent;
}

.searchbar-clear-icon {
  display: none !important;
  }
}

.platform-ipad .myproducts ion-col.col
{
width: 150px !important;
max-width: 150px !important;
}

.platform-ipad .inner22 {
  width: 150px;
}

.platform-ipad  ion-slide.myslider1 {
  background-size: contain;
  padding: 60px;
}

.platform-ipad  ion-slide.myslider2 {
  background-size: contain;
  padding: 60px;
}

.platform-ipad  ion-slide.myslider3 {
  background-size: contain;
  padding: 60px;
}
ion-app [no-padding] .scroll-content {
  padding-bottom: 51px;
  padding-top: 80px;
}
