page-contact {
  div.mydiv2 {
    text-align: right;
    //display: inline-block;
    float: right;
    vertical-align: middle !important;
    margin: 22px;
  }

.mydiv1 {
  vertical-align: middle;
  display: inline-block;
}

img.slide-image11
    {
      max-height: 110px;
      max-width: 110px;
      margin: 2px 0;
    }
ion-icon.myicon22.icon {
  float: right;
  font-size: 20px;
  vertical-align: middle;
  margin: 2px 6px;
  color: #000000;
}
hr {
  background-color: rgba(0, 0, 0, 0.51) !important;
  width: 100%;
  color: #000;
  height: 1px !important;
}
ion-icon.myion2 {
  font-size: 40px;
  color: #EB6D2F;
}
ion-col.mycol22.col {
  text-align: center;
}
.item-md {
  padding-left: 0px;
}
.select-md {
padding: 13px 8px 13px 8px;
}
ion-select {
max-width: 100%;
width: 100%;
}
ion-item.newitem2.item-input-disabled {
background-color: #e2e2e2;
}
.label-md {
margin: 0px;
}
textarea {
margin: 13px 8px;
padding: 0;
width: calc(100% - 8px - 8px);
color: #000 !important;
border: 0px;
font-weight: 400;
font-size: 16px;
}
h2.myformh2
{
  text-align: center;
  margin-bottom: 22px;
  margin-top: 22px !important;
}
p.danger {
color: red;
font-weight: 400;
}
ion-item.newitem2 {
margin-bottom: 11px;
padding-left: 0px;
}
.scroll-content {
  padding: 85px 16px 51px !important;
}
hr {
  background-color: rgba(0, 0, 0, 1) !important;
  width: 100%;
  color: #000;
  height: 1px !important;
}
form.myneform22 {
  margin: 22px 0px;
}
}
