page-product {

  img.slide-image11
    {
      max-height: 40%;
      max-width: 40%;
      margin: 2px 0;
    }

    .myproducts{
      text-align: center;
      padding: 20px 2px;
      background-color: #ffd832;
    }
    .myproducts ion-col.col {
        border-radius: 6px;
        margin: 6px;
        //margin: 15px;
        background-color: whitesmoke;
        box-shadow: 0px 1px 4px 1px #6d6d6d;
        // width: 46%;
        // max-width: 46%;
    }
    img.imgsection12 {
      width: 70px;
      border-radius: 200px;
      height: 70px;
    }

    h4.mynewph22 {
      font-size: 13px;
    }

  div.mydiv2 {
    text-align: right;
    display: inline-block;
    float: right;
    vertical-align: middle !important;
    margin: 22px;
}

.mydiv1 {
  vertical-align: middle;
  display: inline-block;
}

img.slide-image11
    {
      max-height: 110px;
      max-width: 110px;
      margin: 2px 0;
    }
ion-icon.myicon22.icon {
  float: right;
  font-size: 20px;
  vertical-align: middle;
  margin: 2px 6px;
  color: #000000;
}
ion-row.mynewr11.row {
  padding: 11px;
}
}
