// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@import url('https://fonts.googleapis.com/css?family=Aleo');
@import url('https://fonts.googleapis.com/css?family=Raleway');

// ion-grid.formenu2 {
//    padding-left: 13px;
//    background-color: #eb6d2fed;
// }

h1.mymenuh2 {
  margin: 11px 2px;
  color: #ffffff;
  //text-transform: uppercase;
  font-size: 16px;
}

button.btn22 {
  position: fixed;
  bottom: 0px;
  background-color: #dadada;
}

ion-content.mymenu22 {
  background: linear-gradient(rgba(0, 0, 0, 0.78), rgba(0, 0, 0, 0.78)), url(../assets/imgs/honeycomb22.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

button.menu2 {
  padding-left: 0px;
  color: #fff;
  background: transparent;
}

.menu2 .item-inner {
  padding-left: 11px;
}

img.imgsection12 {
  width: 60px;
  margin-top: 8px;
  border-radius: 200px;
  height: 60px;
}

h1.mymenuh11
{
  font-size: 14px;
  color: #EB6D2F;
  margin: 11px 2px;
}

.menu-inner {
  width: 260px;
}

.list-md .item-block .item-inner {
  border-bottom: 1px solid #4c4c4c;
}

ion-label.label.label-md {
  font-size: 14px;
  font-weight: 300;
}

.menu2 ion-icon.icon {
  color: #EB6D2F;
  padding-right: 6px;
}

ion-col.mycols11.col {
  font-size: 14px;
  font-weight: 300;
  color: #fff;
}

ion-icon.myicons22 {
  color: #eb6d2fed;
}
ion-row.mymenuicons22 {
     margin-top : 22px;
}
.bar-button-default-ios {
  color: #000;
}
ion-col.mycol33.col {
      text-align: center;
}
ion-icon.myicons22 {
  color: #000000;
  font-size: 26px;
}
ion-icon.mynewicons22 {
  color: #eb6d2fed;
}

ion-icon.myicon22.icon {
  position: relative;
  float: right;
  font-size: 20px;
  vertical-align: middle;
  margin: 2px 8px;
  color: #000000;
}

ion-badge.mynewicon11 {
  position: absolute;
  top: -11px;
  right: -11px;
  padding: 4px;
  text-align: center;
  border-radius: 100%;
}

div.mydiv2 {
  text-align: right;
  //display: inline-block;
  float: right;
  vertical-align: middle !important;
  margin: 22px;
}

.mydiv1 {
  vertical-align: middle;
  display: inline-block;
}

img.slide-image11
{
      max-height: 110px;
      max-width: 110px;
      margin: 2px 0;
}

.searchbar-clear-icon {
  display: none !important;
}

ion-header.header {
    background-color: #e0e0e0;
}
ion-footer.single-footer.footer {
  background-color: #e0e0e0;
  box-shadow: 0px 1px 6px 1px #929292;
}
.toolbar-background-md {
  background: transparent;
}
.text-input-ios {
  padding-left: 6px;
}

.swiper-pagination-bullet-active {
  background: #EB6D2F;
  opacity: 1;
}

.alert-title {
  font-size: 16px !important;
}
