page-singleproduct {
  button.mybtn11 {
    background: #EB6D2F;
    border-color: #EB6D2F;
    font-size: 13px;
    text-transform: uppercase;
    border-radius: 0px;
  }

  .swiper-slide img {
    width: 200px;
    height: 200px;
    margin-bottom: 40px;
  }

  ion-slides {
    height: 220px;
  }

  .myimg11
  {
   width: 200px;
  }
}
