<ion-content padding>
  <img class="myimg11" src="{{detailsp.image}}" />
  <ion-slides *ngIf="detailsp.images != null" loop="true" paginationType="dots" pager>
      <ion-slide *ngFor="let slide of detailsp.images || detailsp.pimage; let i = index ;" >
          <img [src]="'http://beegoodhoney.in/uploads/products/'+slide.pro_images">
      </ion-slide>
  </ion-slides>
  <ion-slides *ngIf="detailsp.pimage != null" loop="true" paginationType="dots" pager>
      <ion-slide *ngFor="let slide of detailsp.pimage; let i = index ;" >
          <img [src]="'http://beegoodhoney.in/uploads/products/'+slide.pro_images">
      </ion-slide>
  </ion-slides>
  <h2>{{detailsp.product_name || detailsp.name}}</h2>
  <!-- <p>MRP: ₹{{detailsp.product_price}}</p> -->
  <p [ngStyle]="(detailsp.discountp || detailsp.discount) === '0' ? {'text-decoration':'none'} : {'text-decoration':'line-through'}">MRP: ₹{{detailsp.product_price || detailsp.disprice}}</p>
  <p>Discount: {{detailsp.discount || detailsp.discountp}}%</p>
  <p>Discount Price: ₹{{detailsp.product_actual_price || detailsp.disprice}}</p>
  <p><strong>Product Description: </strong>{{detailsp.product_details || detailsp.ditailspro}}</p>
  <button class="mybtn11" (click)="addToCart(detailsp)" ion-button small>
      Add to Cart
  </button>
</ion-content>
