<ion-content padding>
<ion-row align-items-center justify-content-center class="mynewr11">
 <ion-col align-items-center justify-content-center *ngFor="let product of this.pdeta" col-12 col-md-6 col-xl-3 class="mynewcol22">
  <div (click)="showDetails(product)">
  <img class="myimg11" src="{{product.image}}" />
  <p>{{ product.product_name }}</p>
  <!-- <p>Product Details: {{ product.product_details }}</p> -->
  <p><strong>Actual Price:</strong>
    <span [ngStyle]="product.discount === '0' ? {'text-decoration':'none'} : {'text-decoration':'line-through'}">
      ₹{{product.product_price * product?.count}}
    </span>
  </p>
  <p><strong>Discount:</strong> {{product.discount}}%</p>
  <p><strong>Discount Price:</strong> ₹{{ product.product_actual_price * product?.count }}</p>
  <!-- <p>Company Name: {{ product.product_company }}</p> -->
  </div>
  <!-- <ion-col class="qty">
    <button (click)="decreaseProductCount(product)" clear ion-button small color="dark" class="mynewbtn11">
      -
    </button>
    <button ion-button small clear color="dark" class="mynewbtn11">
      {{product?.count}}
    </button>
    <button (click)="incrementProductCount(product)" clear ion-button small color="dark" class="mynewbtn11">
      +
    </button>
</ion-col> -->

<!-- <button *ngFor="let psize of product.product_size" (click)="toggleOnSize(psize)" [ngClass]="psize.onSize ? 'mynewbtn22' : 'newbtn11' " ion-button small>
  {{ psize.size }}
</button> -->
<ion-col *ngIf="nosize" style="padding: 0px;">
<ion-select placeholder="Select Size" [(ngModel)]="product.SelectedSize">
  <ion-option *ngFor="let psize of product.product_size" value="{{psize.size}}">{{psize.size}}</ion-option>
</ion-select>
</ion-col>

  <!-- <button [disabled]="!product.SelectedSize" class="mybtn11" (click)="addToCart(product)" ion-button small>
    Add to Cart
  </button> -->

  <ion-col *ngIf="hassizenot && product.out_of_stock == 0" style="padding: 0px;">
      <button class="mybtn11" (click)="addtocartnew(product)" ion-button small>
        Add to Cart
      </button>
  </ion-col>

  <ion-col *ngIf="hassize && product.out_of_stock == 0" style="padding: 0px;">
      <button [disabled]="!product.SelectedSize" class="mybtn11" (click)="addtocartnew(product)" ion-button small>
        Add to Cart
      </button>
  </ion-col>
 <!-- {{product.out_of_stock}} -->
  <ion-col *ngIf="product.out_of_stock == 1" style="padding: 0px;">
    <!-- <button disabled class="mybtn11" ion-button small>
      Out Of Stock
    </button> -->
    <button class="mybtn11" (click)="notifymeprod(product.id)" ion-button small>
      Notify Me
    </button>
  </ion-col>
    <!-- {{product.id}} -->
  <button ion-button icon-only class="wish-list-btn card" (click)="toggleOnWishlist(product)" color="light" class="mywisbtn11">
    <ion-icon [name]="product.onWishlist ? 'ios-heart' : 'heart-outline' "></ion-icon>
  </button>


  <!-- <button ion-button icon-only *ngIf="product.onWishlist" (click)="toggleOnWishlist2(product.id)"><ion-icon name="ios-heart"></ion-icon></button> -->
  <!-- <button ion-button icon-only class="wish-list-btn card" *ngIf="heart_clicked" (click)="addtoWishlist(false,product)" color="light" class="mywisbtn11">
    <ion-icon name="ios-heart"></ion-icon>
  </button> -->

  <!-- <button ion-button icon-only *ngIf="!product.onWishlist" (click)="toggleOnWishlist1(product.id)"><ion-icon name="heart-outline"></ion-icon></button> -->


 </ion-col>

</ion-row>

<ion-grid *ngIf="noproducts" align-items-center justify-content-center style="height: 100%;">
      <ion-row align-items-center justify-content-center style="height: 100%;">
        <ion-col align-self-center col-12 style="text-align: center;">
          <img src="assets/imgs/noproductimage.png" class="myimgnew11"/>
          <h1 class="newh1">No Products Found!!</h1>
        </ion-col>
      </ion-row>
</ion-grid>
</ion-content>
